:root {

    --background-color: #282441;
    --text: #907d02;
    --border: #0a0718;
    --card-text: #02573c;
    --card-background: #e6f1ff;
    --question-text: #030504;
    --timer: #95a1ba;
    --button-color: #c9af04;
    --button-text: #1c0b30;
    --answer-button: #02573c;
    --answer-text: #aebdb7;

}